.activity-feed-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    background-color: #fff;
    min-height: 188px;
    padding: 0 20px;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);

    .activity-info {
        display: flex;
        margin-bottom: 16px;
    }
    
    .user-feedback {
        width: 100%;
        margin-top: 8px;
        padding: 0 0 16px;
        
        .kudos-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 12px 0 0;
            border-top: 1px solid #e6e6eb;

            .kudos-count {
                font-size: 11px;
            }

            .user-feedback-buttons {
                display: flex;
                align-items: center;
            }

            .feedback-button {
                background-color: #e6e6eb;
                border: 1px solid #e6e6eb;
                display: block;
                padding: 6px 12px;;
                border-radius: 4px;
                
                &:hover {
                    background-color: #fff;
                }
            }
            
            .like-button {
                margin-right: 5px;
            }

            .fas.fa-thumbs-up {
                color: #fc4c02;
            }
        }

        .comment-section {
            .comments-item {
                padding: 10px 0;
                color: #2d2d32;
                font-size: 12px;
                line-height: 1.45em;
                font-family: "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                
                .comments-commenter {
                    font-weight: 700;
                }

            }

            .comments-item:last-child {
                padding-bottom: 0px;
            }

            .comment-create {
                
                .comment-form {
                    margin-top: 16px;
                    border-top: 1px solid #e6e6eb;
                    
                    .comment-input {
                        background-color:rgb(255, 255, 255);
                        padding: 6px 4px 5px 4px;
                        margin: 16px 3% 0 0;
                        border-radius: 4px;
                        border-width: 0;
                        width: 85%;
                        transition: height 0.1s ease;
                        line-height: 1.5em;
                        color: #242428;
                        font-size: 12px;
                        
                        &:focus {
                            background-color:rgb(245, 245, 250);
                        }
                    }

                    .post-button {
                        padding: 6px 12px;
                        border-radius: 4px;
                        font-size: 12px;
                        font-weight: 700;
                        color: #fc4c02;
                        height: 30px;
                        border: none;
                        box-shadow: none;
                        min-height: 30px;

                        &:hover {
                            background-color: #f5f5fa;
                        }
                    }
                }
            }
        }
    }


    .avatar-image-mini {
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 25px 0 0;
        width: 45px;
        height: 45px;
        background-color: rgb(0, 87, 155);
        border-radius: 50%;
        color: white;
        z-index: 1;
        h1 {
            font-size: 25px;
            font-weight: 400;
        }
    }

    a {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
        color: #2d2d32;

        &:hover {
            color: #005b83;
        }
    }

    h2 {
        font-size: 13px;
        line-height: 1.45;
    }

    h3 {
        font-size: 20px;
    }

    label {
        font-size: 12px;
        font-weight: 400;
        color: #606065;
        line-height: 1.2;
    }

    p {
        font-size: 13px;
        line-height: 1.45;
    }

    header {
        margin: 20px 0 10px;
    }
}

.feed-item-header {

    h2 {
        font-weight: 700;
    }
}

.feed-item-name {
    margin-bottom: 10px;
}

.feed-item-desc {
    margin-bottom: 10px;
    p {
        color: rgb(36, 36, 40);
    }
}

.feed-item-stats {
    display: flex;

    section {
        margin-right: 33px;
    }
}

@media (max-width: 550px) {
    .activity-feed-item {

        .feed-item-stats {
            flex-wrap: wrap;
        }
    }
}