.activity-feed-item {
    margin-bottom: 23px;
    background-color: #fff;
    padding: 20px 15px;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);

    a {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
        color: #2d2d32;

        &:hover {
            color: #005b83;
        }
    }

    h2 {
        font-size: 13px;
        line-height: 1.45;
    }

    h3 {
        font-size: 20px;
    }

    label {
        font-size: 12px;
        font-weight: 400;
        color: #606065;
        line-height: 1.2;
    }

    p {
        font-size: 13px;
        line-height: 1.45;
    }

    header {
        margin-bottom: 10px;
    }
}

.feed-item-name {
    margin-bottom: 10px;
}

.feed-item-desc {
    margin-bottom: 10px;
}

.feed-item-stats {
    display: flex;

    section {
        margin-right: 33px;
    }
}