.dashboard-home {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5fa;
    padding-top: 120px;
    height: 100vh;
    padding-left: 34px;
}

.personal-stats {
    background-color: #fff;
    width: 281px;
    height: 700px;
    border-radius: 4px;
}

.activity-feed {
    background-color: #fff;
    width: 593px;
    height: 700px;
    border-radius: 4px;
}

.banner {
    background-position-y: -41px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: image-url('running_banner.jpg');
    height: 180px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-main-text {
    margin-top: -16px;
    text-align: center;
    h1 {
        font-size: 22px;
        font-weight: 700;
        color: #2d2d32;
        &:hover {
            color: #005b83;
        }
    }
}

.avatar-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -36px;
    width: 70px;
    height: 70px;
    background-color: rgb(6, 102, 158);
    border-radius: 50%;
    color: white;
    z-index: 1;
    h1 {
        font-size: 38px;
        font-weight: 400;

    }
}

.advertise {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 270px;
    height: 400px;
    margin-right: 40px;

    section {
        border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    }
}

.personal-adver {
    text-decoration: none;
}