.dashboard-home {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f5fa;
    background-size: cover;
    padding-top: 120px;
    min-height: 849px;
    padding-left: 34px;
}

.personal-stats {
    background-color: #fff;
    width: 281px;
    height: 291px;
    border-radius: 4px;
    position: fixed;
    left: 15%;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
}

.advertise {
    position: fixed;
    right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 300px;
    
    p {
        margin: 10px 0 10px 0;
        font-size: 12px;
        line-height: 16px;
        color: rgb(45, 45, 50);
    }

    section {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.185);
        padding-bottom: 10px;
    }
}

.activity-feed {
    background-color: #f5f5fa;
    width: 593px;
    border-radius: 4px;
    float: left;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.banner {
    background-color: #fff;
    background-position-y: -91px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: image-url('running_banner.jpg');
    height: 188px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 27px;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-main-text {
    margin-top: -16px;
    text-align: center;
    margin-bottom: 20px;
    h1 {
        font-size: 22px;
        font-weight: 700;
        color: #2d2d32;
    }
}

.avatar-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -36px;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 87, 155);
    border-radius: 50%;
    color: white;
    z-index: 1;
    h1 {
        font-size: 38px;
        font-weight: 400;
    }
}

.personal-adver {
    text-decoration: none;
    color: #fc4c02;

    &:hover {
        color: #bd3902;
    }
}

.total-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    label {
        font-size: 12px;
        font-weight: 400;
        color: #606065;
        line-height: 1.2;
    }

    .total-stats-stat {
        text-align: center;

        h2 {
            padding-top: 5px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
        }
    }

    div {
        // margin-top: 20px;
        display: flex;
        justify-content: space-around;
        width: 90%;
        border-bottom: 1px solid #E6E6EB;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

.github {
    height: 55px;
    width: 55px;
    padding-right: 12px;
}

.linkedin {
    height: 60px;
    width: 60px;
    padding-right: 12px;
}

.dashboard-link {
    width: 80%;
    color: #242428;
    font-size: 13px;

    &:hover {
        color: #007FB6;
        .fa-chevron-right {
            transition: .3s;
            margin-left: 5px;
        }
    }
}

.fa-chevron-right {
    transition: .3s;
}

.chevron-container {
    padding-left: 105px;
}

@media only screen and (max-width: 1600px) {
    .dashboard-home {
        min-height: 569px;
    }
    .personal-stats {
        left: 4%;
    }

    .advertise {
        right: 4%;
    }
}