.drop {
  display: inline-block;
  color: #2d2d32;
  // border-radius: 3px;
  font-weight: 700;
  font-size: 10px;
  a {
    display: block;
    height: 61px;
    padding: 0px 16px;
    cursor: pointer;
  }
}

.drop-menu {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
  background-color: transparent;
  line-height: 62px;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid orangered;

  &:hover {
    color: orangered;
    border-bottom: 2px solid white;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-left: -1px;
    margin-right: -1px;
    // z-index: 20;
    .drop-submenu-dash, .drop-submenu-profile {
    display: block;
    z-index: 10;
    }
  }
}
   
.drop-submenu-dash {
  left: -1px;
  margin-top: 1px;
  color: #2d2d32;
  // right: 0px;
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 200px;
  background-color: white;
  border: solid 1px #2d2d32;
  // border-top: solid 1px transparent;
}

.drop-submenu-profile {
  left: -126px;
  margin-top: 1px;
  color: #2d2d32;
  // right: 0px;
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 200px;
  background-color: white;
  border: solid 1px #2d2d32;
  // border-top: solid 1px transparent;
}
    
.drop-submenu-item {
  &:hover {
    background: rgba(#000, 0.1);
  }
}