.drop {
  display: inline-block;
  color: white;
  border-radius: 3px;
  font-weight: 700;
  font-size: 10px;
  // margin-right: 24px;
  // padding: 8px 10px;
  a {
    display: block;
    padding: 0px 16px;
    cursor: pointer;
  }
}

.drop-menu {
  border-radius: 3px;
  background-color: orangered;
  line-height: 31px;
  // padding: 8px 10px;
  display: inline-block;
  position: relative;

  &:hover {
    background-color: orangered;
    
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    .drop-submenu {
    display: block;
    }
  }
}
    
.drop-submenu {
  right: 0px;
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 100px;
  background-color: orangered;
}
    
.drop-submenu-item {
  &:hover {
    background: rgba(#000, 0.1);
  }
}