.userIndex-main {
  padding: 85px 13% 0 13%;
  min-height: 310px;
  margin-bottom: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .userIndex-header {
    padding-bottom: 20px;

    h1 {
      color: #2d2d32;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 34px;
    }
  }

  .searchbar {
    border-top: 1px solid #e6e6eb;
    border-bottom: 1px solid #D7D7D7;
    background-color: #F2F2F2;
    color: #2d2d32;
    fill: currentColor;
    font-size: 14px;
    line-height: 1.45;

    form {
      margin: 20px 0;
      padding: 0 20px;
      background-color: #F2F2F2;

      input.athlete-search {
        padding: 0 10px;
        width: 260px;
        box-sizing: border-box;
        font-size: 14px;
        height: 34px;
        background-color: #fff;
        border: 1px solid #ccccd1;
        color: #666;
        line-height: 1.4em;
        margin-right: 6px;

        &:focus {
          border-color: #007FB6;
        }
      }

      input.search-button {
        transition: border-color 0.1s ease;
        padding: 6px 10px;
        min-height: 34px;
        box-sizing: border-box;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #ccccd1;
        color: #666;
        line-height: 1.4em;
        border-radius: 4px;
        font-weight: 700;

        &:hover {
          transition: border-color 0.1s ease;
          background-color: #f5f5fa;
          cursor: pointer;
        }
      }
    }
  }

  .no-athletes-found {
    margin-top: 20px;
  }

  strong {
    font-weight: 700;
  }
}


.dark {
  background-color: rgb(247, 247, 247);
}

.userIndex-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6eb;

  .avatar-image-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 87, 155);
    border-radius: 50%;
    color: white;
    margin: 0 20px;
    
    h1 {
      font-size: 30px;
      font-weight: 400;
    }
  }

  .userIndex-item-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;

    .userIndex-item-name {
      font-size: 17px;
      line-height: 22px;
      color: rgb(0, 127, 182);
      margin-bottom: 10px;
    }
  }

  .userIndex-item-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

    label {
      margin-bottom: 5px;
    }
  }
}

.follow-btn {
  background-color: orangered;
  color: white;
  width: 70px;
  border-radius: 3px;
  font-size: 11px;
  padding: 9.5px 10px;
  font-weight: 700;
  text-decoration: none;
  -webkit-appearance: none;
  border-style: none;

  &:hover {
    cursor: pointer;
    transition: background-color 300ms;
    background-color: rgb(218, 65, 9);
  }
}

@media only screen and (max-width: 1600px) {
  .userIndex-main {
    padding: 85px 32px 0 32px;
  }
}