.navbar-right-side {
    display: flex;
    align-items: center;
    align-content: center;
    width: 300px;
    margin-right: 75px;
    justify-content: flex-end;
}

.navbar-right-side > span {
    padding-left: 15px;
    padding-bottom: 5px;
}

.navbar-left-side {
    display: flex;
    align-items: center;
    align-content: center;
    width: 300px;
    margin-right: 75px;
}

.navbar-left-side > span {
    padding-left: 15px;
    padding-bottom: 5px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: orangered;
    letter-spacing: -1.2px;
    text-decoration: none;
}

.btn {
    background-color: orangered;
    color: white;
    border-radius: 3px;
    font-size: 11px;
    padding: 9.5px 10px;
    font-weight: 700;
    text-decoration: none;
    -webkit-appearance: none;
    border-style: none;
}

.btn:hover {
    cursor: pointer;
    transition: background-color 300ms;
    background-color: rgb(218, 65, 9);
}

.welcome {
    display: flex;
    align-content: center;
}

.navbar-main {
    font-size: 16px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    height: 54px;
    position: fixed;
    width: 100%;
    padding-left: 32px;
    border-bottom: .5px solid lightgray;
    z-index: 30;
}

.navbar-side {
    display: flex;
    margin-left: 20px;
    min-width: 900px;
    width: 70%;
    justify-content: space-between;
}

@media only screen and (max-width: 1600px) { 
    .navbar-side { 
        width: 100%;
    }
}
// @media only screen and (max-width: 1600px) { 
//     .navbar-side {
//         display: flex;
//         margin-left: 20px;
//         min-width: 900px;
//         width: 100%;
//         justify-content: space-between;
//     }

//    .navbar-main {
//         font-size: 16px;
//         background-color: #fff;
//         display: flex;
//         justify-content: space-between;
//         padding: 0;
//         align-items: center;
//         height: 54px;
//         position: fixed;
//         width: 67%;
//         padding-left: 32px;
//         border-bottom: .5px solid lightgray;
//         z-index: 30;
//     }

// }

// width: 67%
// width: 14%