.navbar-main {
    font-size: 16px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    height: 55px;
    position: fixed;
    width: 100%;
    padding-left: 32px;
    border-bottom: .5px solid lightgray;
}

.navbar-right-side {
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    width: 300px;
    margin-right: 75px;
    justify-content: flex-end;
}

.navbar-right-side > span {
    padding-left: 15px;
    // padding-right: 10px;
    padding-bottom: 5px;
    // margin-right: 10px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: orangered;
    letter-spacing: -1.2px;
    text-decoration: none;
}

.btn {
    background-color: orangered;
    color: white;
    border-radius: 3px;
    font-size: 11px;
    padding: 9.5px 10px;
    font-weight: 700;
    text-decoration: none;
    -webkit-appearance: none;
    border-style: none;
}

.btn:hover {
    cursor: pointer;
    transition: background-color 300ms;
    background-color: rgb(218, 65, 9);
}
