.route-home {
  padding-top: 88px;
  padding-left: 32px;
  background-color: #f5f5fa;
  height: 100vh;
}

.route-header {

  h1 {
    color: #2d2d32;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 34px;
  }
}