.route-home {
  padding-top: 125px;
  padding-left: 18px;
  background-color: #f5f5fa;
  height: 100vh;
}

.route-header {

  h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 34px;
  }
}