#right-panel {
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#map {
  height: 89vh;
  width: 100%;
  top: 42px;
}

#right-panel {
  position: fixed;
  top: 581px;
  left: 20px;
  width: 92%;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.753)
}

.panel {
  height: 100%;
  overflow: auto;
}

.stats {
  display: flex;

  label {
    padding: 10px;
  }
}

.route-navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: -1.2px;
  text-decoration: none;

  section {
    display: flex;
    // justify-content: space-around;
    h1 {
      padding-left: 10px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 24px;
    }
  }
}

.exit-btn {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  line-height: 22px;
  letter-spacing: 0px;

  &:hover {
    text-decoration: underline;
  }
}

.route-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1F1F1;
  font-size: 13px;
  // line-height: 1.4em;
  padding: 0px 10px 0 10px;
  height: 38px;
}

.toolbar-btn {
  line-height: 38px;

  &:hover {
    background-color: #DDD;
    cursor: pointer;
  }
}

.warnbox-content {
  display: none;
  background-color: none;
}

.warnbox-c1 {
  display: none;
  background-color: none;
}

.warnbox-c2 {
  display: none;
  background-color: none;
}