.profile-container {
  min-height: 69vh;
  padding: 90px 13% 0;

  .profile-header {
    display: flex;
    justify-content: flex-start;

    .profile-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-pic {
        width: 136px;
        height: 136px;
        border-radius: 50%;

        h3 {
          font-size: 95px;
        }
      }

      h1 {
        margin: 20px 0;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
      }
    }
  }

  .profile-body {

    .profile-stat-header {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .profile-stat-list {
      display: flex;

      li {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .profile-container {
    min-height: 65vh;
    padding: 90px 40px 0 40px;
  }
}