.show-workout-main {
  padding-top: 120px;
}

.show-workout-display {
    width: 1248px;
    min-width: 0;
    padding-left: 195px;
    box-sizing: border-box;

  header {
    height: 45px;
    background: #f5f5fa;
    border-top: 1px solid #FFF;
    border: 1px solid #ccccd1;
    padding: 9px 20px;
    margin: 0;
  }
}