.splash {
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 35px;
    background-image: image-url('running.png'); 
    background-size: cover;
}

.splash h1 {
    font-weight: 700;
}